<nav class="navbar navbar-inverse"  style="background:#090d13;margin-bottom: 20px;">
    <div class="container-fluid" style="padding-top: 6px;height: 63px;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                  <% if(login){ %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i> My account<span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li role="separator" class="divider"></li>
                          <li><a href="logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                      </ul>
                    </li>
                  <% } else{ %>
                  <li>
                    <a href="signin">
                      <i class="fa fa-sign-in" aria-hidden="true"></i> Login/signup
                    </a>
                  </li>
                  <% } %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
