<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <% include partials/header.ejs %>
    <h1>Our Users</h1>
    <div class="container">
      <div class='row'>
        <div class="panel panel-default">
          <div class="panel-heading">Users Mangment</div>
            <table class="table">
              <thead>
                <tr>
                  <th>User Image</th>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Control</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach(function(user){ %>
                    <tr>
                      <td><img src="/uploads/<%= user.userimage%>" alt="<%=user.username%>" 
                      class="img-responsive img-circle"width='70px'  height="70px"></td>
                      <td><%=user.username%></td>
                      <td><%=user.email%></td>
                      <td><%=user.phone%></td>
                      <td>
                        <a href="/edit/<%=user._id%>" class="btn btn-primary"> Edit </a>
                        <a href="/delete/<%=user._id%>" class="btn btn-danger delete-user"
                        data-id="<%=user._id%>"> Delete </a>
                      <td>
                    </tr>
                <% })%>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
            integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
