<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
      <div class="row">
        <% if(hasErrors){ %>
            <div class="alert alert-danger">
              <%messages.forEach(function(message){ %>
                  <p><%=message%></p>
              <%})%>
            </div>
        <%}%>
        <div class="form">
          <div class="form-lift col-md-4 col-sm-4 col-xs-12">
            <h2>Create New <br>Account</h2>
            <h6>Hi Friend !..</h6>
            <p>Sign Up Now a Free Account To Buy Anything From Our Store</p>
          </div>
          <div class="form-right col-md-8 col-sm-8 col-xs-12">
            <form method="post" action="/signup" {{ form_enctype(form) }} enctype="multipart/form-data">
                <div class="input">
                  <input placeholder="Username" type="text" name="username" required></input>
                </div>
                <div class="input">
                  <input placeholder="Email" type="email" name="email" required></input>
                </div>
                <div class="input">
                  <input placeholder="Password" type="password" name="password" required></input>
                </div>
                <div class="input">
                  <input placeholder="Phone Number" type="text" name="phone" required></input>
                </div>
                <div class="input">
                  <input type="file" name="image" style="margin: auto !important" required></input>
                </div>
                
                <button type="submit" style='margin-top: 25px !important'>CREATE ACCOUNT</button>
            </form>
          </div>
        </div>
      </div>
    </div>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
