body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0d1521
}
a {
  color: #337ab7;
  font-size: 18px !important
}
a:hover,a:focus{
    color: #337ab7;
    font-size: 18px !important;
    text-decoration: none;
}
.navbar-inverse .navbar-brand {
    color: #8899a6;
    padding-left: 70px;
    font-size: 24px !important;
    font-weight: 00;
}
h1 {
    font-size: 36px;
    text-align: center;
    padding: 33px;
    font-weight: bold;
    color: #fff;
}
.form{
    margin: 30px !important;
    height: 450px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px
}
.form-right{
  /*width: 63%;*/
  height: 100%;
  float: right;
  background-color: #304150;
  padding-top: 50px;
  padding-left: 0px !important;
  padding-right: 0px !important
}
.form-lift{
  /*  width: 37%;*/
    height: 100%;
    float: left;
    background-color: #384b5c;
    color: #fff;
    text-align: left;
    padding-left: 45px;
}
.form-lift h2 {
   font-size: 31px;
   padding-top: 63px;
}
.form input{
    width: 80%;
    height: 40px;
    border: 0px;
    background: #304150;
    color: #fff;
    outline: none;
    border-bottom: .5px #fff solid;
    margin-bottom: 30px;
}
.form button{
      width: 100%;
      height: 55px;
      background-color: #32aced;
      border: 0px;
      color: #fff;
      font-size: 18px;
      margin-top: 64px;
}
.form h6{
    margin-top: 200px;
    font-weight: bold;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #090d13;
    border: none;
}
.panel {
    border: none;
}
td{
    vertical-align: middle !important;
}

.btn{
    margin: 5px;
}
.img-circle{
    margin-left: 5px;
}
